
<!--using extension from layout (this part goes on the block)-->
{%extends "layout.html"%}
{%block content%}
    {% for post in posts %}
    <!--here we are looping on our data with nice html that get style from main.css, since it is conected to layout.html-->
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
         </article>
    {%endfor%}
{%endblock content%}